h1 {
  text-align: left;
  font-size: large;
}
label {
  text-align: left;
}
input {
  width: 80%;
  align-items: left;
}
.submit-btn {
  background: rgb(209, 68, 68);
  border-radius: 0.3rem;
  display: inline-block;
  color: white;
  padding: 0.5rem 1rem;
  margin: 0 0 1rem;
  text-decoration: none;
  border: white;
  margin-top: 1rem;
}

/* @media only screen and (min-width: 48rem) {
  } */
