footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background: #5a9ace;
  max-height: 50%;
}
.footer-nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 0;
  font-size: 0.7rem;
}
footer li a {
  text-decoration: none;
  color: white;
}
footer ul {
  margin: 0;
}
.footer-title {
  padding-left: 0.4rem;
}
.email {
  text-align: right;
  padding-right: 0.4rem;
  color: white;
}
.thanksCont {
  color: white;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  text-align: center;
}
.ghicon {
  width: 2.5rem;
  padding: 0.2rem;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.linkdinIcon {
  width: 2.5rem;
  padding: 0.2rem;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
