.button-login {
  border: 0.1rem solid transparent;
  background: none;
  cursor: pointer;
  /* width: 3rem; */
  /* border-radius: 10rem;
  padding-top: 0.21rem; */
}
.login {
  width: 2.5rem;
  /* height: 5rem; */
}
