li {
  list-style: none;
}
.restaurantName {
  text-align: center;
  font-size: xx-large;
}
@media only screen and (min-width: 48rem) {
  li {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
  }
  img {
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .restaurantName {
    text-align: left;
    margin-left: 1rem;
    margin-top: 0;
    margin-bottom: 0;
  }
}
