li {
  list-style: none;
  padding: 0;
}
ul {
  padding: 0;
}
.singleimage {
  border-radius: 0.5rem;
  position: relative;
  z-index: -1;
  max-width: 40vw;
  margin-left: 1rem;
}
.restcont {
  background-color: white;
  border-radius: 0.5rem;
  max-width: 95vw;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.restaurantName {
  text-align: center;
  font-size: 2rem;
  color: rgb(79, 78, 78);
  text-align: left;
  margin: auto;
  padding-bottom: 0.1rem;
  padding-left: 1rem;
}
.address {
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-bottom: 0;
  font-size: 0.8rem;
}
.restophone {
  padding-top: 0.1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-bottom: 0;
  font-size: 0.8rem;
}
.description {
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 0.8rem;
  margin-top: 0;
}
.createrez {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
}
@media only screen and (min-width: 48rem) {
  img {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .singlecontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .createrez {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-top: 1.7rem;
  }
  .restcont {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 0.8rem;
    margin-top: 0;
  }
  p.description {
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
