li {
  padding-bottom: 2rem;
}
.singleRezRestName {
  font-size: 2rem;
}
.backTo {
  color: black;
}
.btn-back {
  background: rgb(209, 205, 205);
  border-radius: 0.3rem;
  display: inline-block;
  color: black;
  padding: 0.5rem 1rem;
  margin: 0 0 1rem;
  text-decoration: none;
  margin-top: 2rem;
  margin-left: 2rem;
}
.resError {
  color: red;
  margin: 0;
}

.backToList {
  background: rgb(209, 205, 205);
  border-radius: 0.3rem;
  display: inline-block;
  color: black;
  padding: 0.5rem 1rem;
  margin: 0 0 1rem;
  text-decoration: none;
  margin-top: 1rem;
}

@media only screen and (min-width: 48rem) {
  .details {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  .singleRezRestName {
    text-align: left;
  }
}
